<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='PERBANDINGAN_ALTERNATIF'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="d-flex">
                        <p class="text-primary mb-0 hover-cursor">Perbandingan Alternatif</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Perbandingan Alternatif &rarr; <span
                            th:text="${perbandinganDto.pembanding.nama}"></span></p>
                    <div class="table-responsive">
                        <form th:action="@{/perbandingan_alternatif}" method="post"
                              th:object="${perbandinganDto}">
                            <input type="hidden" th:field="*{index}">
                            <input type="hidden" th:field="*{pembanding}">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Pilih yang lebih penting</th>
                                    <th width="25%">Nilai Perbandingan</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="data, i : ${datas}">
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input"
                                                       th:name="${'pilihan['+i.index+']'}"
                                                       value="1" checked>
                                                <i class="input-helper"></i>
                                                <span th:text="${data.kriteria1}"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input"
                                                       th:name="${'pilihan['+i.index+']'}"
                                                       value="2">
                                                <i class="input-helper"></i>
                                                <span th:text="${data.kriteria2}"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control select2-prefensi"
                                                    th:name="${'bobots['+i.index+']'}" required>
                                                <option value="" style="display: none">-- Pilih Prefensi --</option>
                                                <option th:each="p : ${prefensis}" th:value="${p.bobot}"
                                                        th:text="${p.nama + ' (' + p.bobot + ').'}"></option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button th:if="${not #lists.isEmpty(datas)}" type="submit"
                                    class="btn btn-primary btn-rounded btn-fw btn-sm"
                                    style="margin-top: 30px;">Proses
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $('.select2-prefensi').select2();
        });
    </script>
</div>
</body>
</html>