<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='PERBANDINGAN_ALTERNATIF'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="d-flex">
                        <p class="text-primary mb-0 hover-cursor">Data Perbandingan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Hasil Perhitungan</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Overall Composite Height</th>
                                <th>Priority Vector (rata-rata)</th>
                                <th th:each="data : ${alternatifs}">
                                    <span th:text="${data.namaInstansi}"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data, x : ${pvKriteria}">
                                <td th:text="${data.kriteria.nama}"></td>
                                <td th:text="${data.nilai}"></td>
                                <td th:each="alt, y : ${alternatifs}">
                                    <span th:text="${#numbers.formatDecimal(nilaiPvAlternatif.nilai[x.index][y.index], 1, 5, 'POINT')}"></span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="2">Total</th>
                                <th th:each="alt, y : ${alternatifs}">
                                    <span th:text="${#numbers.formatDecimal(total.total[y.index], 1, 5, 'POINT')}"></span>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Tabel laporan peringkat pengajuan dana bantuan.</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Peringkat</th>
                                <th>Alternatif</th>
                                <th>Nilai</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${peringkat}">
                                <td th:text="${data.urut}"></td>
                                <td th:text="${data.nama}"></td>
                                <td th:text="${#numbers.formatDecimal(data.nilai, 1, 6, 'POINT')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {

        });
    </script>
</div>
</body>
</html>