<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='CHANGE_PASSWORD'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="d-flex">
                        <p class="text-primary mb-0 hover-cursor">Ganti Password</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 5%;"> Form reset password</h4>
                    <form class="forms-sample" th:action="@{/change_password}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8 mb-3">
                                <label>Current Password</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                       required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8 mb-3">
                                <label>New Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <div class="form-text text-danger" id="pwValidate" style="display: none"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8 mb-3">
                                <label>Confirm New Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                       required>
                                <div class="form-text text-danger" id="errorConfirmPassword" style="display: none">password does not match</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2 btn-sm">Submit</button>
                        <a th:href="@{/}" class="btn btn-light btn-sm">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            var checkPwConf = false;
            var checkPw = false;

            $("#confirmPassword").keyup(function () {
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                if (confirmPassword !== password) {
                    checkPwConf = false;
                    $("#errorConfirmPassword").css('display', 'block');
                } else {
                    $("#errorConfirmPassword").css('display', 'none');
                    checkPwConf = true;
                }
                checkError(checkPw, checkPwConf);
            });

            function checkError(pw, pwConf) {
                if (pw && pwConf) {
                    $('#btnSimpan').prop('disabled', false);
                } else {
                    $('#btnSimpan').prop('disabled', true);
                }
            }
        });
    </script>
</div>
</body>
</html>