<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='REQUEST_PENGAJUAN'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="d-flex">
                        <p class="text-muted mb-0 hover-cursor">Dafar Pengajuan&nbsp;/&nbsp;</p>
                        <p class="text-primary mb-0 hover-cursor">Form</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 5%;"> Form Input Dana Bantuan</h4>
                    <form class="forms-sample" th:action="@{/request_pengajuan/input_dana}" method="post"
                          th:object="${saldoDto}">
                        <input type="hidden" th:field="*{id}">
                        <div class="row">
                            <div class="form-group col-md-8 mb-3">
                                <label>Jumlah Dana</label>
                                <input type="number" class="form-control" min="0" th:field="*{jumlah}">
                                <div class="form-text text-danger" th:if="${#fields.hasErrors('jumlah')}"
                                     th:errors="*{jumlah}"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2 btn-sm">Submit</button>
                        <a th:href="@{/request_pengajuan}" class="btn btn-light btn-sm">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {

        });
    </script>
</div>
</body>
</html>