<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='REQUEST_PENGAJUAN'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="d-flex">
                        <p class="text-primary mb-0 hover-cursor">Daftar Pengajuan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Daftar Pengajuan</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center">Kode</th>
                                <th class="text-center">Pemohon</th>
                                <th class="text-center">Instansi / Organisasi</th>
                                <th class="text-center">Tanggal</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${datas}">
                                <td class="text-center" th:text="${data.kode}"></td>
                                <td class="text-center" th:text="${data.pemohon.nama}"></td>
                                <td class="text-center" th:text="${data.namaInstansi}"></td>
                                <td class="text-center"
                                    th:text="${#temporals.format(data.tanggalPengajuan, 'dd-MM-yyyy HH:mm')}"></td>
                                <td class="text-center">
                                    <label th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'WAITING_APPROVE')}"
                                           class="badge badge-warning">Menunggu persetujuan</label>

                                    <label th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'APPROVED')}"
                                           class="badge badge-info">Pengajuan disetujui</label>

                                    <label th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'REJECT')}"
                                           class="badge badge-danger">Pengajuan ditolak</label>

                                    <label th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'SELESAI')}"
                                           class="badge badge-success">Pengajuan selesai</label>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button"
                                                    class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                Option
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a th:href="@{/request_pengajuan/detail(id=${data.id})}"
                                                   class="dropdown-item"
                                                   href="#">Detail</a>

                                                <a th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'WAITING_APPROVE')}"
                                                   th:href="@{/request_pengajuan/download_pengantar/} + ${data.suratPengantar}"
                                                   target="_blank" class="dropdown-item">Download Surat Pengantar</a>

                                                <a th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'WAITING_APPROVE')}"
                                                   th:href="@{/request_pengajuan/download_proposal/} + ${data.proposalKegiatan}"
                                                   target="_blank" class="dropdown-item">Download Proposal Kegiatan</a>

                                                <a th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'WAITING_APPROVE')}"
                                                   th:href="@{/request_pengajuan/tolak(id=${data.id})}"
                                                   class="dropdown-item">Tolak Pengajuan</a>

                                                <a th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'WAITING_APPROVE')}"
                                                   th:href="@{/request_pengajuan/approve(id=${data.id})}"
                                                   class="dropdown-item">Terima Pengajuan</a>

                                                <a th:if="${#strings.equalsIgnoreCase(data.statusPengajuan, 'APPROVED') &&
                                                   #strings.equalsIgnoreCase(userLoggedIn.userType, 'MANAGER')}"
                                                   th:href="@{/request_pengajuan/input_dana(id=${data.id})}"
                                                   class="dropdown-item">Input dana bantuan</a>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <nav aria-label="Page navigation example">
                        <ul th:if="${not #lists.isEmpty(datas.content)}" class="pagination pagination-sm m-0"
                            sd:pagination="full"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {

        });
    </script>
</div>
</body>
</html>