<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='DASHBOARD'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <h3>Welcome, <span th:text="${userLoggedIn.fullname}"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body dashboard-tabs p-0">
                    <ul class="nav nav-tabs px-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                               aria-controls="overview" aria-selected="true">Status Pengajuan</a>
                        </li>
                    </ul>
                    <div class="tab-content py-0 px-0">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel"
                             aria-labelledby="overview-tab">
                            <div class="d-flex flex-wrap justify-content-xl-between">
                                <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                    <i class="mdi mdi-av-timer icon-lg mr-3 text-warning"></i>
                                    <div class="d-flex flex-column justify-content-around">
                                        <small class="mb-1 text-muted">Menunggu persetujuan</small>
                                        <h5 class="mr-2 mb-0" th:text="${waitingApprove}"></h5>
                                    </div>
                                </div>
                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                    <i class="mdi mdi-checkbox-marked-outline mr-3 icon-lg text-info"></i>
                                    <div class="d-flex flex-column justify-content-around">
                                        <small class="mb-1 text-muted">Pengajuan disetujui</small>
                                        <h5 class="mr-2 mb-0" th:text="${approved}"></h5>
                                    </div>
                                </div>
                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                    <i class="mdi mdi-close-circle-outline mr-3 icon-lg text-danger"></i>
                                    <div class="d-flex flex-column justify-content-around">
                                        <small class="mb-1 text-muted">Pengajuan ditolak</small>
                                        <h5 class="mr-2 mb-0" th:text="${reject}"></h5>
                                    </div>
                                </div>
                                <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                    <i class="mdi mdi-check-circle-outline mr-3 icon-lg text-success"></i>
                                    <div class="d-flex flex-column justify-content-around">
                                        <small class="mb-1 text-muted">Pengajuan selesai</small>
                                        <h5 class="mr-2 mb-0" th:text="${selesai}"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${#strings.equalsIgnoreCase(userLoggedIn.userType, 'ADMIN') ||
                                        #strings.equalsIgnoreCase(userLoggedIn.userType, 'MANAGER')}">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Grafik hasil keputusan pengajuan dana bantuan.</p>
                    <canvas id="my-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${#strings.equalsIgnoreCase(userLoggedIn.userType, 'ADMIN') ||
                                        #strings.equalsIgnoreCase(userLoggedIn.userType, 'MANAGER')}">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Daftar user pemohon.</p>
                    <div class="table-responsive">
                        <table id="recent-purchases-listing" class="table">
                            <thead>
                            <tr>
                                <th>Nama Pemohon</th>
                                <th>Email</th>
                                <th>No. Hp</th>
                                <th>Alamat</th>
                                <th>Status Akun</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${pemohons}">
                                <td th:text="${data.nama}"></td>
                                <td th:text="${data.email}"></td>
                                <td th:text="${data.noTelepon}"></td>
                                <td th:text="${data.alamat}"></td>
                                <td>
                                    <span th:if="${data.user.active}"
                                          class="badge badge-pill badge-success">Aktif</span>
                                    <span th:unless="${data.user.active}" class="badge badge-pill badge-danger">Non Aktif</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {

            const url = 'http://localhost:8080/alternatif/rangking';
            const namas = [];
            const nilais = [];

            async function getRangking() {
                const response = await fetch(url);
                const data = await response.json();

                for (var i = 0; i < data.length; i++) {
                    const obj = data[i];
                    namas.push(obj.nama);
                    nilais.push(parseFloat(obj.nilai));
                }
            }

            async function myChart() {
                await getRangking();
                const canvastElement = document.getElementById("my-chart");
                const config = {
                    type: "bar",
                    data: {
                        labels: namas,
                        datasets: [
                            {
                                label: "# nilai alternatif pengajuan",
                                data: nilais,
                                backgroundColor: "#25c2c3",
                                borderColor: "#25c2c3",
                            }
                        ]
                    }
                };
                const cookieChart = new Chart(canvastElement, config);
            }

            myChart();
        });
    </script>
</div>
</body>
</html>