<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='PERBANDINGAN_KRITERIA'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="d-flex">
                        <p class="text-primary mb-0 hover-cursor">Perbandingan Kriteria</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Matriks Perbandingan Berpasangan</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Kriteria</th>
                                <th th:each="data : ${datas}">
                                    <span th:text="${data.nama}"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data, x : ${datas}">
                                <td th:text="${data.nama}"></td>
                                <td th:each="d, y : ${datas}">
                                    <span th:text="${hasilDto.matriks[x.index][y.index]}"></span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Jumlah</th>
                                <th th:each="data, x : ${datas}">
                                    <span th:text="${#numbers.formatDecimal(hasilDto.jmlpb[x.index], 0, 'COMMA', 2, 'POINT')}"></span>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Matriks Nilai Kriteria</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Kriteria</th>
                                <th th:each="data : ${datas}">
                                    <span th:text="${data.nama}"></span>
                                </th>
                                <th>Jumlah</th>
                                <th>Priority Vector</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data, x : ${datas}">
                                <td th:text="${data.nama}"></td>
                                <td th:each="d, y : ${datas}">
                                    <span th:text="${#numbers.formatDecimal(hasilDto.matriksTernormalisasi[x.index][y.index],1, 'COMMA', 5, 'POINT')}"></span>
                                </td>
                                <td th:text="${#numbers.formatDecimal(hasilDto.jmlmnk[x.index],1, 'COMMA', 5, 'POINT')}"></td>
                                <td th:text="${#numbers.formatDecimal(hasilDto.priorityVector[x.index],1, 'COMMA', 5, 'POINT')}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th th:colspan="${#lists.size(datas) + 2}">Principe Eigen Vector (λ maks)</th>
                                <th th:text="${#numbers.formatDecimal(hasilDto.eigenValue,1, 'COMMA', 5, 'POINT')}"></th>
                            </tr>
                            <tr>
                                <th th:colspan="${#lists.size(datas) + 2}">Consistency Index</th>
                                <th th:text="${#numbers.formatDecimal(hasilDto.consistencyIndex,1, 'COMMA', 5, 'POINT')}"></th>
                            </tr>
                            <tr>
                                <th th:colspan="${#lists.size(datas) + 2}">Consistency Ratio</th>
                                <th th:text="${#numbers.formatDecimal((hasilDto.consistencyRatio * 100), 1, 2, 'POINT')} + ' %'"></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-right" style="margin-top: 20px;">
                        <a th:href="@{/perbandingan_alternatif?index=0}"
                           class="btn btn-inverse-secondary btn-fw btn-sm">
                            Lanjut
                            <i class="mdi mdi-arrow-right btn-icon-append"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            $('.select2-prefensi').select2();
        });
    </script>
</div>
</body>
</html>