<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/assets/fonts/icomoon/style.css}">

    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <title>Login | Aplikasi CSR</title>
    <link rel="shortcut icon" th:href="@{/assets/images/logo.jpg}">
</head>
<body>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img th:src="@{/assets/images/APK.png}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3 class="text-center">Form Login</h3>
                        </div>
                        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                            <span th:text="${successMessage}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span th:text="${errorMessage}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div th:if="${param.logout}" class="alert alert-info alert-dismissible fade show" role="alert">
                            Anda telah berhasil keluar aplikasi.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            Nama pengguna atau kata sandi salah. Coba lagi.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="form-group first">
                                <label for="username">Username</label>
                                <input type="email" class="form-control" id="username" name="username" autocomplete="off">

                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">

                            </div>

                            <div class="d-flex mb-5 align-items-center">
                               <span
                                       class="caption">Belum punya akun ? <a
                                       th:href="@{/register}">klik disini</a></span>

                                <span class="ml-auto"><a href="#" class="forgot-pass">Lupa Password</a></span>
                            </div>

                            <input type="submit" value="Log In" class="btn text-white btn-block btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>