<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        th:with="activeTab='MASTER_SALDO_CSR'">

<head>
    <div layout:fragment="customCss"></div>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="d-flex">
                        <p class="text-muted mb-0 hover-cursor">Master&nbsp;/&nbsp;</p>
                        <p class="text-primary mb-0 hover-cursor">Saldo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Saldo</p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Jumlah Saldo</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${datas}">
                                <td th:text="${'Rp. ' + #numbers.formatDecimal(data.jumlah, 1, 2, 'COMMA')}"></td>
                                <td>
                                    <a th:href="@{/master/saldo/form(id=${data.id})}"
                                       class="btn btn-primary btn-rounded btn-fw btn-sm">Edit</a>
                                    <a th:href="@{/master/saldo/reset_saldo(id=${data.id})}"
                                       class="btn btn-primary btn-rounded btn-fw btn-sm">Reset Saldo</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="customJavascript">
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {

        });
    </script>
</div>
</body>
</html>